# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.vs

# virtualenv
venv/

# package
build/
dist/
*.egg-info

*.log
*.temp
*.mbtree
debug.json

*.mp4
*.png
*.webm
*.ogv
*.m4a
*.mp3

*.txt
*.sed

*.o
libjpeg.a 
cjpeg 
djpeg 
jpegtran 
rdjpgcom 
wrjpgcom